* {
	font-family: 'roboto';
}
.row {
	display: flex; flex-direction: row; align-items: center;
}
.material-icons.md-14 { font-size: 12px; }
.icon {
	margin: 0px 10px;
	border-radius: 100%;
	border: solid #173E3C 1px;
	padding: 3px;
	color: #173E3C;
}
p {
	font-size: 10px;
	color: #173E3C;
	font-weight: 100;
}
.divider {
	border-right: solid #173E3C 2px;
}
a {
	text-decoration: none;
	color: inherit;
}