* {
	font-family: 'roboto';
}
.row {
	display: flex; flex-direction: row; align-items: center;
}
.icon {
	margin-right: 15px;
	border-radius: 100%;
	border: solid #173E3C 1px;
	padding: 5px;
	color: #173E3C;
}
p {
	color: #173E3C;
	font-weight: lighter;
}
.divider {
	border-right: solid #173E3C 2px;
}